html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

button, button:focus {
    font-size: 12px;
    color: black;
    padding: 10px 20px;
    border-radius: 0.7rem;
    background-image: linear-gradient(rgb(0, 128, 255), rgb(0, 128, 255));
    border-bottom: 5px solid rgb(50, 50, 50);
    transform: translate(0, -3px);
    transition: 0.2s;
    transition-timing-function: linear;
}

button:active {
        transform: translate(0, 0);
        border-bottom: 2px solid rgb(50, 50, 50);
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container {
    align-content:center;
    align-items:center;

}
.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

.myform {
    --width-of-input: 100px;
    --border-height: 1.0px;
   /* --border-before-color: rgba(50, 50, 50, 0.39);*/
    --border-after-color: rgb(0,128,255);
    --input-hovered-color: #4985e01f;
    position: relative;
    width: var(--width-of-input);
}
/* styling of Input */
.input {
    color:black;
    font-size: 1rem;
    background-color: transparent;
    width: 300%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
}
/* styling of animated border */
.input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}
/* Hover on Input */
input:hover {
    background: var(--input-hovered-color);
}

input:focus {
    outline: none;
}
    /* here is code of animated border */
    input:focus ~ .input-border {
        width: 200%;
    }
/* === if you want to do animated border on typing === */
/* remove input:focus code and uncomment below code */
/* input:valid ~ .input-border{
  width: 100%;
} */


.uploadcontainer {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
    background-color: rgba(0, 110, 255, 0.041);
}

.uploadheader {
    flex: 1;
    width: 100%;
    border: 2px dashed royalblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

    .uploadheader svg {
        height: 80px;
    }

    .uploadheader p {
        text-align: center;
        color: black;
    }

.uploadfooter {
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    border: none;
}

    .uploadfooter svg {
        height: 80%;
        fill: royalblue;
        background-color: rgba(70, 66, 66, 0.103);
        border-radius: 50%;
        padding: 2px;
        cursor: pointer;
        box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
    }

    .uploadfooter p {
        flex: 1;
        text-align: center;
    }

#file {
    display: none;
}